<div class="container" *ngIf="item">
  <nav class="breadcrumb mt-3" >
    <a class="breadcrumb-item" [href]="locationBackUrl">Items</a>
    <span class="breadcrumb-item active">{{item.name}}</span>
  </nav>
  <h1 class="display-4"><img [src]="item.icon" height="70"> {{item.name}}</h1>
  <div class="row mt-3 mb-3">
    <div [className]="listings?'col-lg-6': col-lg-12">
      <h2>Details</h2>
      <dl class="row">
        <dt class="col-3">Description</dt>
        <dd class="col-9">{{item.description}}</dd>
        <dt class="col-3">Rarity</dt>
        <dd class="col-9">{{item.rarity}}</dd>
        <dt class="col-3">Level</dt>
        <dd class="col-9">{{item.level}}</dd>
      </dl>
    </div>
    <div class="col-lg-3 buy" *ngIf="listings">
      <h2>Buy</h2>
      <table class="table table-striped table-sm table-borderless">
        <thead>
          <tr>
            <th>Volume</th>
            <th class="text-center">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let buy of listings.buys">
            <td>{{buy.quantity}}</td>
            <td class="text-center">
              <app-coin [units]="buy.unit_price"></app-coin>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 sell" *ngIf="listings">
      <h2>Sell</h2>
      <table class="table table-striped table-sm table-borderless">
        <thead>
          <tr>
            <th>Volume</th>
            <th class="text-center">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sell of listings.sells">
            <td>{{sell.quantity}}</td>
            <td class="text-center">
              <app-coin [units]="sell.unit_price"></app-coin>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div *ngIf="listingsData&&listingsData.buy">
  <app-trade-history-chart [data]="listingsData"></app-trade-history-chart>

</div>