<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">GW2 Open Market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trends" routerLinkActive="active">Trends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/item" routerLinkActive="active">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trading-post" routerLinkActive="active">Trading Post</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  