<div class="container pb-3">
  <!-- <h1 class="display-4 mt-3 mb-3">Items</h1> -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Level</th>
        <th class="text-center">Type</th>
        <th class="text-center">Rarity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td scope="row">          
          <a [routerLink]="[ '/item', item.id ]" preserveQueryParams="true">
            <img [src]="item.icon" [alt]="item.name" height="25">
            {{item.name}}
          </a>
        </td>
        <td class="text-center">{{item.level}}</td>
        <td class="text-center">{{item.type}}</td>
        <td class="text-center">{{item.rarity}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="loading">
      <tr >
        <td scope="row" colspan="4" class="text-center">
          <app-loading></app-loading>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2" *ngIf="collectionSize">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="itemListOffset" [pageSize]="listSize" maxSize="5" (pageChange)="pageChanged()" [rotate]="true">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="listSize" (change)="pageChanged()">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</div>